        body {
            background-color: #0f0e0d;
            align-items: center;
        }

        h1 {
            color: #d8c0b3;
            text-align: center;
            font-family: 'Trebuchet MS', sans-serif;
            text-shadow: 2px 2px #302e2d;
        }

        #top {
            font-family: 'Trebuchet MS', sans-serif;
            background-color: #1b1a19;
            border-radius: 25px 25px 0px 0px;
            text-align: center;
            width: 80%;
            margin: auto;
            padding: 4px;
            font-weight: bold;
            color: #d8c0b3
        }

        #bottom {
            font-family: 'Trebuchet MS', sans-serif;
            background-color: #302e2d;
            border-radius: 0px 0px 25px 25px;
            text-align: center;
            width: 80%;
            margin: auto;
            padding: 4px;
            color: #d8c0b3
        }

        p {
            font-family: 'Trebuchet MS', sans-serif;
            background-color: #302e2d;
            color: #d8c0b3;
            max-width: 80%;
            text-align: center;
            margin: auto;
            padding: 4px
        } 

        #warmup {
            font-family: 'Trebuchet MS', sans-serif;
            background-color: #302e2d;
            color: #d8c0b3;
            max-width: 80%;
            text-align: center;
            margin: auto;
            padding: 4px;
            border-radius: 0px 0px 25px 25px;
        }

        p.goal_inst {
            font-size: small;
            font-style: italic;
            font-family: inherit;
            background-color: inherit;
            color: inherit;
            max-width: inherit;
            text-align: inherit;
            margin: inherit;
            padding: inherit
        }

        #selector {
            float: right;
            color: #d8c0b3;
            margin-right: 10px;
            margin-top: 4px;
            background-color: #302e2d;
            border-color: #d8c0b3;
        }

        #disclaimer {
            color: #d8c0b3;
            font-size: x-small;
            background-color: #0f0e0d;
        }

        hr{
            border: 0px;
            height: 1px;
            background-color: #d8c0b3;
            
        }

        button {
           font-size: x-large;
           padding:0px;
           margin-left: 10px;
           background-color: transparent; 
           border: none;
           color: #d8c0b3;
           margin-top: 0px; 
        }